{% extends 'navbar.html' %}
{% block nav %}
<div class="row">
  {% for i in data %}
<div class="col-3">
    
    <div class="card mt-2" style="width: 18rem;">
    <img class="card-img-top" src="{{i.Mobile.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.Name}}</h5>
      <p class="card-title">Rom:{{i.rom}}</p>
      <p class="card-title">Ram:{{i.ram}}</p>
      <p class="card-title">Processor:{{i.processer}}</p>
      <h6 class="card-text"><span class="material-symbols-rounded">
        currency_rupee
      </span>{{i.prize}}</h6>
    </div>
    <div class="footer">
      <a href="{% url 'updatepro' i.id %}" class="btn btn-warning mb-1 ml-3">Update</a>
      <a href="{% url 'deletepro' i.id %}" class="btn btn-danger mb-1 ml-5">Remove</a>
    </div>
    </div>
</div>



  
  {% endfor %}
</div>
{% endblock %}